.column-root{
  border: 1px solid var(--text-muted);
  padding: 10px;
  min-height: 50px;
  position: relative;
}
.column-component{
	gap: 12px;
	display: flex;
	align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: -2rem;
}
.column-component-title{
 font-size: 14px;
 color: var(---text-color);
 cursor: pointer;
}
.column-element{
  position: relative;
}
.column-delete--icon{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: red;
}
.delete-icon{
	cursor: pointer;
}