.toolbar {
  display: none;
  background-color: var(--text-white);
  border-radius: 5px;
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--text-muted);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.toolbar-wrapper {
  padding: px;
  display: flex;
  gap: 8px;

}

.toolbar-element {
	border-right: 1px solid var(--text-muted);
  border-radius: 0px;
  padding: 6px 24px;
  cursor: pointer;
}

.draggable-component:hover .toolbar {
  display: flex;
}
